h1 {
    text-align: center
}

p {
    text-align: center
}

h1 {
    color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
}

p {
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.navigation {
    background-color: black
}

.navigation li {
    float: left;
    list-style: none;

}

.navigation ul {
    overflow: auto;
    padding:20px;
    margin: 0;
}

.navigation ul li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 27px;
    font-weight: bold;
    margin:0px;
    
}
.navigation ul li a:hover {
    background-color:firebrick;
}
body {
    margin:0;
}
p2 {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: brown;
    float: center;
}
